<div id='cssmenu'>
    <ul>
        <li class='active'>
            <a ui-sref="welcome.add">Add</a>
        </li>
        <li>
            <a ui-sref="welcome.edit">Edit</a>
        </li>
    </ul>
</div>



<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

    <div class="container-fluid" style="margin-top: 10px; margin-bottom: 50px">

        <div class="form-group">

            <div class="radio">
                <label>
                    <input name="radio" ng-model="ctrl.radio" ng-click="reloadAdd()" type="radio" value="client" style="margin-right: 5px; margin-left: 10px"
                    />Client
                </label>

                <label>
                    <input name="radio" ng-model="ctrl.radio" type="radio" ng-click="ctrl.reloadClient()" value="booking" style="margin-right: 5px; margin-left: 25px"
                    />Appointment
                </label>
            </div>

            <!-- ADD CLIENTS  -->
            <form name="ctrl.addClientForm" ng-submit="ctrl.addClientForm.$valid && ctrl.addClient()" novalidate ng-show="ctrl.radio=='client'">
                <div class="row">

                    <div class="col-md-3 col-md-offset-1">
                        <div class="form-group">
                            <input name="firstname" class="form-control" type="text" placeholder="First name" ng-model="ctrl.client.firstname" required>
                            <div data-ng-show="ctrl.addClientForm.firstname.$touched || ctrl.addClientForm.$submitted">
                                <div class="validation" data-ng-show="ctrl.addClientForm.firstname.$error.required">
                                    <span class="glyphicon glyphicon-alert"></span> Please enter your client's first name
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <input name="lastname" class="form-control" type="text" placeholder="Last name" ng-model="ctrl.client.lastname" required>
                            <div data-ng-show="ctrl.addClientForm.lastname.$touched || ctrl.addClientForm.$submitted">
                                <div class="validation" data-ng-show="ctrl.addClientForm.lastname.$error.required">
                                    <span class="glyphicon glyphicon-alert"></span> Please enter your client's last name
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <input name="mobile" class="form-control" minlength="8" maxlength="8" type="number" placeholder="Mobile" ng-model="ctrl.client.mobile"
                                required>
                            <div data-ng-show="ctrl.addClientForm.mobile.$touched || ctrl.addClientForm.$submitted">
                                <div class="validation" data-ng-show="ctrl.addClientForm.mobile.$error.required">
                                    <span class="glyphicon glyphicon-alert"></span> Please enter your mobile number
                                </div>
                                <div class="validation" data-ng-show="ctrl.addClientForm.mobile.$error.minlength">
                                    <span class="glyphicon glyphicon-alert"></span> Singapore mobile number has at least 8 digits
                                </div>
                                <div class="validation" data-ng-show="ctrl.addClientForm.mobile.$error.maxlength">
                                    <span class="glyphicon glyphicon-alert"></span> Singapore mobile number has only 8 digits
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3 col-md-offset-1">
                        <input class="btn btn-ghost" name="submit" type="submit" value="Add">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-md-offset-1">

                        <div ng-if='ctrl.msg' class="alert alert-danger alert-dismissible fade show" style="margin-top:10px">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <i class='fa fa-exclamation-triangle'></i> {{ctrl.msg}}</div>
                    </div>
                </div>

            </form>


            <form name="updateClientForm" ng-repeat="(clientIndex, client) in ctrl.clients" ng-show="ctrl.radio=='client'">
                <div class="row" style="margin-top: 10px">

                    <div class="col-md-3 col-md-offset-1">
                        <div class="form-group">
                            <input name="firstname" class="form-control" type="text" ng-model="client.firstname" disabled="disabled">
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <input name="lastname" class="form-control" type="text" ng-model="client.lastname" disabled="disabled">
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <input name="mobile" class="form-control" minlength="8" maxlength="8" type="text" ng-model="client.mobile" disabled="disabled">
                        </div>
                    </div>

                    <!-- <div class="col-md-3">
                        <button type="button" ng-click="ctrl.editClient(client._id)" class="btn-sm btn-warning">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            </button>
                        <button name="button" ng-click="ctrl.saveClient(client)" class="btn-sm btn-success">
                            <i class="fa fa-check-square" aria-hidden="true"></i>
                        </button>
                        <button type="button" ng-click="ctrl.deleteClient(client._id); ctrl.removeRow(clientIndex);" class="btn-sm btn-danger">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </button>
                    </div> -->

                </div>
            </form>


            <!-- ADD BOOKINGS  -->

            <form name="ctrl.addBookingForm" ng-submit="ctrl.addBookingForm.$valid && ctrl.addBooking()" ng-show="ctrl.radio=='booking'"
                novalidate>

                <div class="row">
                    <div class="col-md-3 col-md-offset-1 form-inline">
                        <div class="form-group">
                            <input type="text" ng-model="ctrl.booking.client" uib-typeahead="client as client.firstname + ' ' + client.lastname for client in ctrl.clients | filter:$viewValue |limitTo:8"
                                placeholder="Type first name" class="form-control" typeahead-editable="false" required>

                            <div data-ng-show="ctrl.addBookingForm.client.$touched || ctrl.addBookingForm.$submitted">
                                <div class="validation" data-ng-show="ctrl.addBookingForm.client.$error.required">
                                    <span class="glyphicon glyphicon-alert"></span> Please select client
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                                <a class="ion-ios-help-outline tip" style="color: grey; font-size: 80%; margin-left: 10px;">
                                    <span>Hi {{cal.summary}}, get ready for {{cal.training}} with {{ctrl.user.google.name}} on {{cal.datetime
                                        | date: 'MMM d, y h:mm a'}}</span>
                                </a>
                            </div>
                    </div>

                    <div class="col-md-6" style="margin-top:20px">

                        <div class="form-group">
                            <input name="training" class="form-control" type="text" placeholder="Training type" ng-model="ctrl.booking.training" required>
                            <div data-ng-show="ctrl.addBookingForm.training.$touched || ctrl.addBookingForm.$submitted">
                                <div class="validation" data-ng-show="ctrl.addBookingForm.training.$error.required">
                                    <span class="glyphicon glyphicon-alert"></span> Please give your training a name
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- <div class="col-md-3">
                        <div class="form-group">
                            <input name="firstname" class="form-control" type="text" placeholder="First name" ng-model="ctrl.booking.firstname" required>
                            <div data-ng-show="ctrl.addBookingForm.firstname.$touched || ctrl.addBookingForm.$submitted">
                                <div class="validation" data-ng-show="ctrl.addBookingForm.firstname.$error.required">
                                    <span class="glyphicon glyphicon-alert"></span> Please add your client's name
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <input name="lastname" class="form-control" type="text" placeholder="Last name" ng-model="ctrl.booking.lastname" required>
                            <div data-ng-show="ctrl.addBookingForm.lastname.$touched || ctrl.addBookingForm.$submitted">
                                <div class="validation" data-ng-show="ctrl.addBookingForm.lastname.$error.required">
                                    <span class="glyphicon glyphicon-alert"></span> Please add your client's name
                                </div>
                            </div>
                        </div>
                    </div> -->

                </div>

                <div class="row">

                    <div class="col-md-5">
                        <div class="form-group">
                            <input name="datetime" class="form-control" type="datetime-local" min="{{ctrl.todaydate | date:'yyyy-MM-ddTHH:mm'}}" ng-model="ctrl.booking.datetime"
                                required>
                            <div data-ng-show="ctrl.addBookingForm.datetime.$touched || ctrl.addBookingForm.$submitted">
                                <div class="validation" data-ng-show="ctrl.addBookingForm.datetime.$error.required">
                                    <span class="glyphicon glyphicon-alert"></span> Please add date and time to your appointment
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <!-- style="font-size: 0.8em" -->
                            <select ng-model="ctrl.booking.notification" class="form-control">
                                <option value="" disabled selected>Reminder time</option>
                                <option value="1 minute">1 minute</option>
                                <option value="12 hours">12 hours</option>
                                <option value="24 hours">24 hours</option>
                                <option value="48 hours">48 hours</option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div data-ng-show="ctrl.addBookingForm.notification.$touched || ctrl.addBookingForm.$submitted">
                            <div class="validation" data-ng-show="ctrl.addBookingForm.booking.notification.$error.required">
                                <span class="glyphicon glyphicon-alert"></span> Please select when you'd like your client to be reminded
                            </div>
                        </div>
                    </div>

                </div>


                <div class="row">
                    <div class="col-md-3 col-md-offset-1">
                        <input class="btn btn-ghost" name="submit" type="submit" value="Add">
                    </div>
                </div>

                <!-- <div class="row">
                        <div class="col-md-6 col-md-offset-1">
            
                            <div ng-if='ctrl.msg' class="alert alert-danger" role="alert" style="margin-top:10px">
                                <i class='fa fa-exclamation-triangle'></i> {{ctrl.msg}}</div>
                        </div>
                    </div> -->

            </form>

            <form name="updateClientForm" ng-repeat="booking in ctrl.bookings" ng-show="ctrl.radio=='booking'">

                <div class="row" style="margin-top: 10px">

                    <div class="col-md-3 col-md-offset-1">
                        <div class="form-group">
                            <input name="firstname" class="form-control" type="text" ng-model="booking.firstname" disabled="disabled">
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <input name="lastname" class="form-control" type="text" ng-model="booking.lastname" disabled="disabled">
                        </div>
                    </div>

                    <div class="col-md-3">

                        <div class="form-group">
                            <input name="training" class="form-control" type="text" ng-model="booking.training" disabled="disabled">
                        </div>
                    </div>

                </div>

                <div class="row" style="margin-top: 10px">

                    <div class="col-md-6 col-md-offset-1">
                        <div class="form-group">
                            <input name="datetime" class="form-control" type="datetime-local" ng-model="booking.datetime" disabled="disabled" required>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <input name="notification" class="form-control" type="text" ng-model="booking.notification" disabled="disabled" required>
                        </div>
                    </div>

                </div>

            </form>

        </div>

    </div>
</div>