
/* Big tablets to 1200 (width smaller than 1140px row) */
@media only screen and (max-width: 1200px) { 
    
        .jumbotron h1 {
            font-size: 180%;
            top: 400px;
        }
    
        .jumbotron .btn-full, .jumbotron .btn-ghost  {
            font-size: 120%;
            margin-left: -10px;
            top: 400px;
        }
    }



/* Small tablets to big tablets: from 770-1023px */
@media only screen and (max-width: 1023px) {
    body { font-size: 18px; }
    
    .app-screen { width: 50% }

    .jumbotron h1 {
        font-size: 200%;
        top: 300px;

    }

    .jumbotron .btn-full, .jumbotron .btn-ghost  {
        margin-left: 0px;
        top: 300px;
    }
  

    .plan-box {
        margin-bottom: 10px;
    }
}


/* Small phones to small tablets: from 481-770px */
@media only screen and (max-width: 800px) {

    .jumbotron h1 {
        font-size: 200%;
        
    }

    .jumbotron h2 {
        font-size: 200%;
        margin-bottom: 20px;
    }

    .jumbotron .btn-full {
        margin-top: 10px;
        margin-left: 5px;
    }

    .jumbotron .btn-ghost  {
        margin-left: 5px;
        margin-top: 10px;
    }

    .cite {
        margin-bottom: 0;     
    }

    .plan-box {
        margin-bottom: 10px;
    }

    .plan-price {
        font-size: 250%;
        font-weight: 100;
        color: #e67e22;      
    }

 
}

/* Small phones: from 0-480px */
@media only screen and (max-width: 480px) {
    .jumbotron h1 {
        font-size: 120%;
        margin-left: -10px;
        margin-bottom: 0px;
        top: 250px;
    }

    .jumbotron .btn-full, .jumbotron .btn-ghost  {
        margin-left: -10px;
        font-size: 80%;
        top: 230px;
    }
    
    h3 {
        margin-left: 10px;
        margin-right: 10px;
    }

    .cite {
        margin-bottom: 0;
    }
    
    .plan-box {
        margin-bottom: 10px;
    }
}






