<nav class="navbar fixed-top navbar-toggleable-md navbar-light bg-faded">
    <a class="navbar-brand" ui-sref="home">meet /peppa</a>
</nav>

<body>
    <div class="row" style="margin-top: 100px">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"></div>

        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <h1 style="text-align:center; font-size:150%; color:#888; text-transform: uppercase;">Let's get started</h1>

            <div class="container-fluid">
                <form name="addUserForm" ng-submit="addUserForm.$valid && ctrl.addUser()" novalidate>

                    <div class="form-group">
                            <div class="form-group">
                                    <a href="/oauth/google" class="btn-google btn-danger btn-block" style="border-radius: 5px;">
                                      <i class="fa fa-google" aria-hidden="true"></i> Sign up with Google
                                    </a>
                                  </div>

                        <div class="form-group">
                            <input name="email" class="form-control" type="text" placeholder="Email" ng-model="ctrl.user.email" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/"
                                required/>
                            <div data-ng-show="addUserForm.email.$touched || addUserForm.$submitted">
                                <div class="validation" data-ng-show="addUserForm.email.$error.required">
                                    <span class="glyphicon glyphicon-alert"></span> Please enter your email
                                </div>
                                <div class="validation" data-ng-show="addUserForm.email.$error.pattern">
                                    <span class="glyphicon glyphicon-alert"></span> Email has to be valid
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <input name="password" class="form-control" type="password" placeholder="Pas$w0rd" ng-model="ctrl.user.password" minlength="6"
                            ng-pattern="/^(?=.*\d)(?=.*[!@#$%^&*])(?=.*[a-z])(?=.*[A-Z]).{6,}$/" required/>
                        <div data-ng-show="addUserForm.password.$touched || addUserForm.$submitted">
                            <div class="validation" data-ng-show="addUserForm.password.$error.required">
                                <span class="glyphicon glyphicon-alert"></span> Please enter a password
                            </div>
                            <div class="validation" data-ng-show="addUserForm.password.$error.minlength">
                                <span class="glyphicon glyphicon-alert"></span> Password must be at least 6 character long
                            </div>
                            <div class="validation" data-ng-show="addUserForm.password.$error.pattern">
                                <span class="glyphicon glyphicon-alert"></span> Password must include special characters (!@#$%^&*), alphanumeric and both uppercase
                                & lowercase
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <input name="confirmpassword" class="form-control" type="password" placeholder="Matching Pas$w0rd" ng-model="ctrl.user.confirmpassword"
                            required ng-required="ctrl.user.password" />
                        <div data-ng-show="addUserForm.confirmpassword.$touched || addUserForm.$submitted">
                            <div class="validation" data-ng-show="addUserForm.confirmpassword.$error.required">
                                <span class="glyphicon glyphicon-alert"></span> Please confirm your password
                            </div>
                            <div class="validation" data-ng-show="ctrl.user.password != ctrl.user.confirmpassword">
                                <span class="glyphicon glyphicon-alert"></span> Password does not match
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <input name="name" class="form-control" minlength="2" type="text" placeholder="Name" ng-model="ctrl.user.name" required>
                        <div data-ng-show="addUserForm.name.$touched || addUserForm.$submitted">
                            <div class="validation" data-ng-show="addUserForm.name.$error.required">
                                <span class="glyphicon glyphicon-alert"></span> Please enter your name
                            </div>
                            <div class="validation" data-ng-show="addUserForm.name.$error.minlength">
                                <span class="glyphicon glyphicon-alert"></span>Your name should be at least 2 characters long
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <input name="mobile" class="form-control" minlength="8" maxlength="8" type="number" placeholder="Mobile" ng-model="ctrl.user.mobile" required>
                        <div data-ng-show="addUserForm.mobile.$touched || addUserForm.$submitted">
                            <div class="validation" data-ng-show="addUserForm.mobile.$error.required">
                                <span class="glyphicon glyphicon-alert"></span> Please enter your mobile number
                            </div>
                            <div class="validation" data-ng-show="addUserForm.mobile.$error.minlength">
                                <span class="glyphicon glyphicon-alert"></span> Singapore mobile number has at least 8 digits
                            </div>
                            <div class="validation" data-ng-show="addUserForm.mobile.$error.maxlength">
                                <span class="glyphicon glyphicon-alert"></span> Singapore mobile number has only 8 digits
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <input id="submit" name="submit" type="submit" class="btn btn-ghost" value="Meet Peppa" ng-hide="ctrl.show_user" ng-disabled="!addUserForm.$valid || ctrl.showSuccessMessage">
                        <input id="submit" name="submit" type="button" class="btn btn-full" ng-click="ctrl.login()" value="Login" ng-show="ctrl.getStarted">
                    </div>
                </form>


                <div ng-show="ctrl.showSuccessMessage">
                    <div class="alert alert-success alert-dismissable">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close" style="text-transform:uppercase"></a>
                        SUCCESSFULLY SENT
                    </div>
                </div>

                <div ng-show="ctrl.showFailureMessage">
                    <div class="alert alert-danger alert-dismissable">
                        <a href="" class="close" data-dismiss="alert" aria-label="close"></a>
                        EMAIL ALREADY EXISTS
                    </div>
                </div>

            </div>
        </div>

    </div>


</body>