<div id='cssmenu'>
    <ul>
        <li>
            <a ui-sref="gwelcome.gcal">Calendar</a>
        </li>
        <li class='active'>
            <a ui-sref="gwelcome.gadd">Add Client</a>
        </li>
        <li>
            <a ui-sref="gwelcome.gedit">Edit Client</a>
        </li>
    </ul>
</div>




<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

    <div class="container-fluid" style="margin-top: 10px; margin-bottom: 50px">

        <div class="form-group" style="margin-top: 50px;">

            <!-- ADD CLIENTS  -->
            <form name="ctrl.addGclientForm" ng-submit="ctrl.addGclientForm.$valid && ctrl.addGclient()" novalidate>
                <div class="row">

                    <div class="col-md-3 col-md-offset-1">
                        <div class="form-group">
                            <input name="name" class="form-control" type="text" placeholder="Name" ng-model="ctrl.gclient.name" required>
                            <div data-ng-show="ctrl.addGclientForm.name.$touched || ctrl.addGclientForm.$submitted">
                                <div class="validation" data-ng-show="ctrl.addGclientForm.name.$error.required">
                                    <span class="glyphicon glyphicon-alert"></span> Please enter your client's name
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <input name="mobile" class="form-control" minlength="8" maxlength="8" type="number" placeholder="Mobile" ng-model="ctrl.gclient.mobile"
                                required>
                            <div data-ng-show="ctrl.addGclientForm.mobile.$touched || ctrl.addGclientForm.$submitted">
                                <div class="validation" data-ng-show="ctrl.addGclientForm.mobile.$error.required">
                                    <span class="glyphicon glyphicon-alert"></span> Please enter your mobile number
                                </div>
                                <div class="validation" data-ng-show="ctrl.addGclientForm.mobile.$error.minlength">
                                    <span class="glyphicon glyphicon-alert"></span> Singapore mobile number has at least 8 digits
                                </div>
                                <div class="validation" data-ng-show="ctrl.addGclientForm.mobile.$error.maxlength">
                                    <span class="glyphicon glyphicon-alert"></span> Singapore mobile number has only 8 digits
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3 col-md-offset-1">
                        <input class="btn btn-ghost" name="submit" type="submit" value="Add">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-md-offset-1">

                        <div ng-if='ctrl.msg' class="alert alert-danger alert-dismissible fade show" style="margin-top:10px">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <i class='fa fa-exclamation-triangle'></i> {{ctrl.msg}}</div>
                    </div>
                </div>

            </form>

            <form name="updateGclientForm" ng-repeat="(gclientIndex, gclient) in ctrl.gclients">
                <div class="row" style="margin-top: 10px">

                    <div class="col-md-3 col-md-offset-1">
                        <div class="form-group">
                            <input name="name" class="form-control" type="text" ng-model="gclient.name" disabled="disabled">
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <input name="mobile" class="form-control" minlength="8" maxlength="8" type="text" ng-model="gclient.mobile" disabled="disabled">
                        </div>
                    </div>

                    <!-- <div class="col-md-3">
                        <button name="button" ng-click="ctrl.saveGclient(gclient)" class="btn-sm btn-success">
                            <i class="fa fa-check-square" aria-hidden="true"></i>
                        </button>
                        <button type="button" ng-click="ctrl.deleteGclient(gclient._id); ctrl.removeRow(gclientIndex);" class="btn-sm btn-danger">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </button>
                    </div> -->

                </div>
            </form>

        </div>

    </div>
</div>