<div id='cssmenu'>
    <ul>
        <li>
            <a ui-sref="gwelcome.gcal">Calendar</a>
        </li>
        <li>
            <a ui-sref="gwelcome.gadd">Add Client</a>
        </li>
        <li class='active'>
            <a ui-sref="gwelcome.gedit">Edit Client</a>
        </li>
    </ul>
</div>


<div class="container-fluid" style="margin-top: 50px; margin-bottom: 50px; margin-left: 15px">


    <!-- SEARCH/EDIT/DELETE CLIENT -->
    <form name="ctrl.searchGclientsform" ng-submit="ctrl.searchGclientsform.$valid && ctrl.searchGclientName()"
        novalidate>
        <!-- <div class="row">

            <div class="col-md-6 col-md-offset-1">
                <input name="term" class="form-control" ng-model="ctrl.term" type="text" placeholder="Search by name" required>
                <div data-ng-show="ctrl.searchGclientsform.term.$touched || ctrl.searchGclientsform.$submitted">
                    <div class="validation" data-ng-show="ctrl.searchGclientsform.term.$error.required">
                        <span class="glyphicon glyphicon-alert"></span> Please enter your client's first name
                    </div>
                </div> -->
                <!-- <div class="col-md-1" style="margin-bottom:2px">
        <input class="btn btn-ghost" style="background-color: white; color:#e67e22" ng-click="ctrl.searchAllClients()" type="button"
            value="All">
    </div> -->
                <!-- <div class="col-md-1" style="margin-bottom:2px">
        <input class="btn btn-ghost" style="background-color: white; color:#e67e22" ng-click="reloadRoute()" type="button" value="Clear">
    </div> -->

            <!-- </div>
        </div> -->

        <!-- <div class="row" style="margin-top: 20px">
            <div class="col-md-4 col-md-offset-1" style="margin-bottom:2px">
                <input class="btn btn-ghost" name="submit" type="submit" value="Go">
                <input class="btn btn-ghost" style="background-color: white; color:#e67e22" ng-click="ctrl.searchAllGclient()" type="button"
                    value="All">
            </div>
        </div> -->

        <div class="row">
            <div class="col-md-6 col-md-offset-1">

                <div ng-if='ctrl.msg' class="alert alert-danger alert-dismissible fade show" style="margin-top:10px">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <i class='fa fa-exclamation-triangle'></i> {{ctrl.msg}}</div>
            </div>
        </div>

    </form>

    <form name="updateGclientForm" ng-repeat="(gclientIndex, gclient) in ctrl.gclients" novalidate>
        <div class="row" style="margin-top: 10px">

            <div class="col-md-3 col-md-offset-1">
                <div class="form-group">
                    <input name="name" class="form-control" type="text" ng-model="gclient.name" required>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <input name="mobile" class="form-control" minlength="8" maxlength="8" type="text" ng-model="gclient.mobile" required>
                </div>
            </div>

            <div class="col-md-3">
                <button name="button" ng-click="ctrl.saveGclient(gclient)" class="btn-sm btn-success">
                    <i class="fa fa-check-square" aria-hidden="true"></i>
                </button>
                <button type="button" ng-click="ctrl.deleteGclient(gclient._id); ctrl.removeRow(gclientIndex);" class="btn-sm btn-danger">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
            </div>

        </div>
    </form>

</div>